.book-card-body {
    margin:auto;
    background: #1F4963 !important;
    width: 60vw;
    align-items: center;
}

.book-card-image {
    width: 30vw !important; 
    padding-top: 20px;
}

.book-info {
    color: #FDE9C9;
}

.review-text-visible {
    display: block !important;
} 

.review-text-invisible {
 display: none !important;
}