.show-cards, .show-books {
	margin: auto;
    display: flex;
    flex-wrap: wrap;
	align-items: space-between;
	justify-content: space-between;

}

.card {
    width: 50vw;
    margin-bottom: 5%;
}


.card-image {
    object-fit: cover;
    height: 40vh;    
}


.add-button {
     bottom: 5px;
     padding-top: auto;
     padding-bottom:10px;

}

@media (min-width: 1024px) {
.card {
    width: 18vw;
}

}

/* 
@media (min-width: 600px) {
.card {
    width: 33vw;
}

} */
