.showCards {
	margin: auto;
    display: flex;
    flex-wrap: wrap;
	align-items: space-between;
	justify-content: space-between;
	
}

.card {
	width: '20rem';
}

.card-image {
	height: 500px;
	width: 300px;
}
